.parallax {
    /* The image used */
    background: url('denhaag.png');
    /* Full height */
    height: 1000px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}
