.parallax {
    /* The image used */
    background: url('Editingbgbw.png');
    /* Full height */
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}
