
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color:black;">
                <div class="card-image" >
                    <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/8rcBlYCKKW8"frameborder="0" allowfullscreen></iframe>
                    </div>
                </div><!-- card image -->
                <div class="card-content">

                </div><!-- card content -->
              </div>


</div>
    <div class="col-md-6 ">
        <div class="card" style="background-color:black;">
            <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XMLFnLkXxrs" frameborder="0" allowfullscreen></iframe>
              </div>
            </div><!-- card image -->
            <div class="card-content">
                <br>
            </div><!-- card content -->
          </div>
        </div>




<div class="col-md-6 ">
    <div class="card" style="background-color:black;">
        <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Mlz2MvczB-w" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- card image -->
        <div class="card-content">
        </div><!-- card content -->
      </div>
    </div>


<div class="col-md-6 ">
    <div class="card" style="background-color:black;">
        <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/IqEDgfKGErE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- card image -->
        <div class="card-content">

        </div><!-- card content -->
      </div>
    </div>
