
.parallax {
    /* The image used */
    background: url('Dcresopara.png');
    /* Full height */
    height: 550px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}



#page {
   background-image: url("main11.png");
   /* Full height */

   background-attachment: fixed;
   background-size: cover;
   /* Center and scale the image nicely */
}
